@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #053d1e;

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
    --sombra: 0px 0px 10px rgba(0, 0, 0, 0.458);
    --boderradius: 0px 0px 10px 10px;
}

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

header{
    background-color: var(--cor4);
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
    background-image: linear-gradient(to top, var(--cor5), var(--cor3));
}

header > h1{
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.43);
}

header > p{
    color: white;
    max-width: 600px;
    font-size: 1.2em;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.438);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.362);
}

nav > a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    transition-duration: 0.6s;
}

main{
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: var(--sombra);
    border-radius: var(--boderradius);
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 2em;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-weight: normal;
    font-size: 1.5em;
    background-image: linear-gradient(to left, transparent, var(--cor1));
    text-indent: 10px;
}

main p{
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    font-size: 1.1em;
    line-height: 2em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}

main a{
    background-color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px; /*a lagura não vai passar de 350px*/
    display: block; /*alterando o img para block podemos utilizar o margin auto, que centraliza automaticamente (otima dica)*/
    margin: auto;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;  /*-20px nas laterais pois o padding do main é de 20, ou seja para a div.video colar lateralmente no main devemos fazer desta maneira*/
    padding: 20px;

    padding-bottom: 56.5%;
    position: relative;

}

div.video > iframe{
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    position: absolute;
}

aside{
    background-color: var(--cor2);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.449);
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00a0'; /*o \2714 é o emoji check e o \00a0 é um espaço, que pra ser sincero não entendi muito bem*/
}

main a::after{
    content: '\00a0\1f517';
    /*para colocar esse emoji nos links externos o professor Guanabara criou uma classe para esta situação, achei muito trabalho e fiz desta maneira para não demorar muito desnecessariamente.*/

    /*ele queria isolar os emojis apenas dos links do nav e do rodapé*/
}

footer{
    color: white;
    background-color: var(--cor5);
    text-align: center;
    padding: 10px;
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer a:hover{
    color: var(--cor1);
    text-decoration: underline;
}